*.db
*.sqlite3
__pycache__/
*.pyc
.env
.venv/
venv/
env/
env3/
ENV/    
env2/
pip-wheel-metadata/
nginx/
instance/
.idea/
.vscode/
.DS_Store
*.log
*.env
dockerfile
*.yml
*.iml
*.swp  
*.swo
*.bak
*.tmp
*.old
.dockerignore
.env.local
.env.*.local
/data/
/db_data/
/tmp/
alembic/__pycache__/
alembic/versions/__pycache__/

